{{/* {{< glossary >}}
term :: définition
{{< /glossary >}} */}}
<div class="glossary-block">
  <h3>Glossaire</h3>
  {{- range split (trim .Inner "\n") "\n" -}}
    {{- $line := trim . " " -}}
    {{- if $line -}}
      {{- $parts := split $line " :: " -}}
      {{- if ge (len $parts) 2 -}}
        {{- $slug := urlize (index $parts 0) -}}
        <div class="glossary-item" id="gl-{{ $slug }}">
          <span class="glossary-term">{{ index $parts 0 }}</span>
          <span class="glossary-def">{{ index $parts 1 | markdownify }}</span>
        </div>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</div>
